In [28]:
#import librarires
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn import linear_model
from sklearn.neural_network import MLPClassifier

In [29]:
#Reading dataset
df = pd.read_csv('student.cleaned.data.csv')
df

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [30]:
#Taking the features into account (traveltime, studytime, failures, famrel, freetime, goout, health)
X = df[['traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'health']]

In [31]:
y = np.where(df['G3'] < 10, 0, 1)

In [32]:
#Initialize Logistic regression model
logistic=linear_model.LogisticRegression()
#Fitting the data
logistic.fit(X,y)

LogisticRegression()

In [37]:
#Initialize MLPClassifier
mlp=MLPClassifier(max_iter=300, random_state=1)
#Fitting the data
mlp.fit(X,y)

C:\Users\Moon\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier()

In [38]:
#Evaluate Accuracy of Logisitic Model
score=logistic.score(X,y)
print('Accuracy of Logistic Model: ',score)

Accuracy of Logistic Model:  0.7316455696202532

In [39]:
#Evaluate Accuracy of Model using MLP
score2=mlp.score(X,y)
print('Accuracy of Model using MLP classifier: ',score2)

Accuracy of Model using MLP classifier:  0.7468354430379747

In [36]:
#Here the accuracy score computed for MLP classifier is a little higher than the logistic model.This can conclude 
#MLP classifier here provides better performance than Logisitic